/* Estilos para el componente Navbar */
.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
  color: white;
  padding: 10px;
}

.logo {
  display: flex;
  align-items: center;
}

.menuopciones {
  position: absolute;
  left: 0px;
  top: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333333;
  color: aliceblue;
  z-index: 4;
}

.boton-toggle {
  position: relative;
  bottom: -12px;
  left: 10px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.opciones {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
}

.opciones.mostrar {
  display: block;
  margin-top: 35px;
  z-index: 50;
}

.opciones li {
  padding: 5px;
}

.header-toggle {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.header-toggle2 {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.header-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 40px;
  right: 0px;
  background-color: #007bff;
  padding: 10px;
  border-radius: 5px;
}
.headeer-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 40px;
  left: 0px;
  background-color: #007bff;
  padding: 10px;
  border-radius: 5px;
}
.header-abierto {
  display: flex;
  margin-top: 15px;
}

.header-nombre-usuario {
  color: #ff9900;
  font-weight: bold;
  margin-bottom: 10px;
}

.header-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-menu li {
  padding: 5px;
  cursor: pointer;
}

.boton-toggle::before {
  position: relative;
  bottom: 0px;
  margin-bottom: 5px;
  content: "\2630"; 
}

.header-toggle::before {
  content: "\1F464"; 
}

.logo_ucm {
  width: 100px;
}
.abierto{
  z-index: 5;
}